a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

//嵌套规则
.list{
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 30px auto;
  color: #999;
  li{
    height: 30px;
    line-height: 30px;
    background: pink;
    margin-bottom: 5px;
    padding: 0 10px;
  }
  a{
    float: left;
    display: inline-block;
    width: 150px;
    color: black;
    &:hover{  //a:hover,&代表它的上一层
      color: red;
    }
  }
  span{
    float: right;
  }
}

.form{
  width: 600px;
 border: 1px solid #dddddd;
  margin: 30px auto;
  input[type="text"]{
    height: 30px;
    margin: 20px auto;
    line-height: 30px;
    display: block;
    width: 400px;
  }
  input[type="submit"]{
    display: block;
    background: #00d6b2;
    border: 1px solid #0b97c4;
    padding: 5px;
    line-height: 30px;
    width: 400px;
    margin: 20px auto;
  }
}