a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.list {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 30px auto;
  color: #999;
}
.list li {
  height: 30px;
  line-height: 30px;
  background: pink;
  margin-bottom: 5px;
  padding: 0 10px;
}
.list a {
  float: left;
  display: inline-block;
  width: 150px;
  color: black;
}
.list a:hover {
  color: red;
}
.list span {
  float: right;
}
.form {
  width: 600px;
  border: 1px solid #dddddd;
  margin: 30px auto;
}
.form input[type="text"] {
  height: 30px;
  margin: 20px auto;
  line-height: 30px;
  display: block;
  width: 400px;
}
.form input[type="submit"] {
  display: block;
  background: #00d6b2;
  border: 1px solid #0b97c4;
  padding: 5px;
  line-height: 30px;
  width: 400px;
  margin: 20px auto;
}
