<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="style/main.css" rel="stylesheet"/>
</head>
<body>
<ul class="list">
    <% for(var i in userlist){ %>
    <li>
        <a href=”mailto:<%=userlist[i].username%>”><%=userlist[i].username%></a>
        <a href=”mailto:<%=userlist[i].email%>”><%=userlist[i].email%></a>
        <span>2010-10-3</span>
    </li>
    <% } %>
</ul>

</body>
</html>