<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="style/main.css" rel="stylesheet"/>
</head>
<body>
<form name="adduser" class="form" method="post" action="/adduser">
    <h1><%= title %></h1>
    <input type="text" placeholder="username" name="username" />
    <input type="text" placeholder="useremail" name="useremail" />
    <input type="submit" value="submit" />
</form>

</body>
</html>